
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
 display: flex;
  background-color: #f49782;
  color: white;

}

.topnav .active{
  display: flex;
  font-family: 'Explora', serif;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
}

.main-menu {
  display: flex;
  justify-content: center; /* Resmi merkezlemek için */
}

.main-menu img {
  max-width: 100%; /* Resmin maksimum genişliği, taşmaması için */
  height: auto; /* Yüksekliği otomatik olarak ayarla */
}

/*carusel*/
.latest-posts-carousel {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  display: flex;
  transition: all 0.5s;
  width: 400%;  
  background-color: #f4978232;
}

.carousel-slide {

  display: flex;

  margin: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.5);
}

.carousel-slide img {
  display: flex;
  border-radius: 10px;
  height: auto;
  width: 18em;
  transition: transform 0.3s ease;
}

.carousel-slide img:hover {
  transform: scale(1.1);
}

.prev-slide,
.next-slide {
  background-color: #333333be;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  position: absolute;
}

.prev-slide {
  left: 0;
}

.next-slide {
  right: 0;
}

.carousel__heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  color: #f49782;
}

.text-on-image {
  font-family: "domaine display";
  background-color: rgba(184, 130, 12, 0.712);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .carousel-container {
    /* Since we want only one slide visible at a time, set the width to 100% */
    width: 100%;
    /* Adjust the flex property so that it doesn't allow the slides to shrink */
    flex: 0 0 100%;
    /* Ensure the container doesn't allow wrapping of items */
    flex-wrap: nowrap;
    gap: 10px;
   padding: 10px;
  }

  .carousel-slide {
    /* Each slide should take up the full width of the carousel-container */
    flex: 0 0 50%;
    /* Adjust margin to ensure the slide is centered */
    margin: auto;
    /* Ensure content within each slide is centered, especially if you change the flex-direction */
    justify-content: center;
    align-items: center;
  }

  .carousel-slide img {
    /* Adjust the image size to fit within the slide, you may want to set a max-width here */
    width: auto; /* Adjust this based on your design needs */
    max-width: 100%; /* Ensure the image does not overflow its container */
    height: auto; /* Maintain aspect ratio */
  }

  .prev-slide, .next-slide {
    /* Adjust the navigation buttons as needed for smaller screens */
    font-size: 0.8rem; /* Example adjustment */
  }

  /* Additional adjustments for heading and text on image */
  .carousel__heading, .text-on-image {
    /* Adjust font size and padding as needed */
    font-size: smaller; /* Example adjustment */
  }
}



@media screen and (max-width: 400px){
  .carousel-slide {
    /* Each slide should take up the full width of the carousel-container */
    flex: 0 0 100%;
    /* Adjust margin to ensure the slide is centered */
    margin: auto;
    /* Ensure content within each slide is centered, especially if you change the flex-direction */
    justify-content: center;
    align-items: center;
  }
}

/* Food Menu */
.food-menu {
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
}

.foodies {
  color: rgba(111, 13, 13, 0.406);
  margin-top: 20px;
}

.box-container {
  display: flex;
  flex-wrap: wrap; /* Kutuların yan yana sıralanması */
  justify-content: center; /* Kutuları merkezlemek için */
  margin-top: 20px;
}

.box1 {
  margin: 10px;
  min-width: 200px; /* Kutunun minimum genişliği */
  flex: 1;
  text-align: center; /* İçerik merkezlemek için */
}

.box1 img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.box1 img:hover {
  transform: scale(1.1);
}

.box1 span {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  cursor: pointer;
  margin: 2rem auto; /* İçerik merkezlemek için */
}

.box1 span:hover {
  color: #f49782;
}

.site-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 40px;
  background-color: #33333306;
  margin: 0;
}

.site-wrapper {
  flex: 0 0 auto;
  margin-right: 20px;
}

.site-wrapper img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px auto;
  display: block;
}

p {
  flex: 1;
  font-size: 0.9rem;
}

a.little-info {
  font-family: 'Pacifico', cursive;
  margin: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .site-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-wrapper {
   margin: auto;
    margin-bottom: 20px;
  }

  p {
    margin: 10px;
    font-size: 0.8rem;
  }
}


/* Original CSS for the footer */
.footer {
  background-color: #F9D8CB;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-section {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
}

.about h4, .links h4 {
  color: black;
}

.about p {
  font-style: italic;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin: 5px 0;
}

.links a {
  text-decoration: none;
  color: #fff;
}

.links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}

/* Corrected Responsive adjustments using media query */
@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 10px;
  }

  .footer-bottom {
    margin-top: 10px;
  }
}



 /* Contact-page loading */

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem;
}

.contact-title {
  background: url(images/titlebg.png) repeat-x left center;
  background-repeat: repeat;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color: #58595B;
  font-size: 1.2rem;
  line-height: 19px;
  margin-top: 20px;
}

.contact-p {
  color: #58595b;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 10px;
  text-transform: lowercase;
  width: 690px;
  text-align: center;
}

h2 {
  color: #333;
}

#contactForm {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #F49782;
  background: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactForm div {
  margin-bottom: 15px;
}

#contactForm label {
  display: block;
  margin-bottom: 5px;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

#contactForm textarea {
  height: 100px;
}

#contactForm button {
  background-color: #F49782;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

#contactForm button:hover {
  background-color: #004494;
}

.error {
  color: red;
  font-size: 0.875rem;
}

@media screen and (max-width: 767px) {
  .contact-p {
    width: 90%;
    max-width: none;
  }

  #contactForm {
    max-width: 90%;
  }
}





/* blog-spesific-page loading */


.blog-body{
  background-color: #f4978212;
}

.card h2{
  font-size: 19px;
}
.date{
  display: flex;
  justify-content: center;
  color: #f49782;
  font-size: 11px;
  font-weight: 700;
  background-image: url(images/date-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95px 25px;
  line-height: 25px;
  word-spacing: 0px;
  width: 60px;
  margin: 7rem;
  text-align: center;
}
.blog-title{
  display: flex;
  justify-content: center;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 24px;
  background-image: url(./images/titlebg.png);
  background-repeat: repeat-x;
  background-position: 0% 50%;
  width: 690px;
  height: 40px;
  margin: 0 0 10px 0;
  padding: 0 0 15px 0;
  text-decoration: none solid rgb(88,89,91);
  text-align: center;
  color: #58595B;
  text-transform: uppercase;
}

 
.preview img{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 690px;
  height: 690px;
  max-width: 100%;
  box-shadow: 0 0 10px;
 
}
.preview {
  display: flex;
  flex-direction: column;
  align-items: center; /* Keeps items aligned vertically in the center */
  text-align: center; /* Centers the text inside the container elements */

}

.preview p {

  width: 690px; /* Fixed width */
  height: 96px;
  font-size: 14px;
  line-height: 24px;
  padding: 15px 0; /* Vertical padding */
  margin: 0 auto; /* Centers the block horizontally */
  box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}
.preview a{
  background-image: url(images/date-background.png);
  background-repeat: no-repeat;
  background-position: center;
  line-height: 42px;
  color: #F49782;
  cursor: pointer;

}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .card{
  display: flex;

  padding: 1rem;

  gap: 1rem;
  border: 20px;
  box-shadow: 0 0 10px;
  margin: 2rem 0;
  width: 690px;
 height: auto;
 

}

main .card:nth-child(even){
  flex-direction: row-reverse;
}



main article{
  flex: 1;

}

main .card img{
  width: 100%;


  height: 207px;
}

.read-more {
  display: flex;
  justify-content: center;
  align-items: center; /* Dikey olarak ortalar */
  height: 29px; /* Arka plan resmi yüksekliği */
  width: 120px; /* Arka plan resmi genişliği */
  background-image: url('./images/readmore.png');
  background-repeat: no-repeat;
  background-size: cover; /* Resmi tam sığdırmak için */
  margin: 2rem auto; /* Otomatik yatay marj ile sayfanın ortasına yerleştir */
  text-align: center;
}

.read-more a {
  color: #ffffff; /* Bağlantı rengi, görünürlüğü artırır */
  text-decoration: none; /* Alt çizgiyi kaldır */
}

.read-more:hover{
  color: #F49782;
  cursor: pointer;
}


.next {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: url(./images/date-background.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
 margin: 2rem;
 font-size: 14px;
}
.next a{
  color:#f49782;
font-weight: 700;
text-decoration: none;
}
.next a:hover{
  color: #58595B;
}
@media screen and (max-width:700px) {
  main{
    flex-direction: column;

  }
  main .card{
      flex-direction: column;
  }
  main .card:nth-child(even){
      flex-direction: column;
  }
}


/* Bu bir CSS yorumudur */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px; /* Her iki yandan da 8px negatif marj ile öğeler arasındaki boşluğu dengeler */
}

.column {
  flex: 1; /* Flex öğeleri eşit olarak doldurur */
  max-width: 33.3%; /* Öğelerin maksimum genişliği */
  padding: 0 8px; /* Her bir öğe arasında boşluk bırakır */
  margin-bottom: 16px; /* Alt marj */
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #F9D8CB;
  color: white;
}
.about-section h1{
  color: #333;
}
.container {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Flexbox ile temizleme ihtiyacı kalmadı, bu yüzden bu kısım çıkarıldı */
.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display:flex;
  text-align: center;
  justify-content: center;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
 margin: 1rem auto;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .row{
    flex-wrap: wrap;
  }
  .column {
  
    max-width: 100%; /* Küçük ekranlarda sütunlar tam genişliğe ayarlanır */
  }
}































